<div class="container-fluid">
    <h2>Anagram Checker</h2>
    <form [formGroup]='anagramForm' class="anagram-form">
        <div class="form-group">
            <label> Word 1</label>
            <input [class.is-invalid]="anagramForm.get('word1').invalid &&
            anagramForm.get('word1').touched" formControlName='word1' type="text" class="form-control"
                pattern="[a-zA-Z]+">
            <div *ngIf="anagramForm.get('word1').invalid && anagramForm.get('word1').touched">
                <small *ngIf="anagramForm.get('word1').errors?.required" class='text-danger'>
                    Word 1 is required
                </small>

                <small *ngIf="anagramForm.get('word1').errors?.pattern" class='text-danger'>
                    Word 1 must contain only characters
                </small>
            </div>
        </div>
        <div class="form-group">
            <label> Word 2</label>
            <input [class.is-invalid]="anagramForm.get('word2').invalid &&
            anagramForm.get('word2').touched" formControlName='word2' type="text" class="form-control"
                pattern="[a-zA-Z]+">
            <div *ngIf="anagramForm.get('word2').invalid && anagramForm.get('word2').touched">
                <small *ngIf="anagramForm.get('word2').errors?.required" class='text-danger'>
                    Word 2 is required
                </small>

                <small *ngIf="anagramForm.get('word2').errors?.pattern" class='text-danger'>
                    Word 2 must contain only characters
                </small>
            </div>
        </div>
        <button [disabled]='!anagramForm.valid' (click)='submitVal()' type="submit" class='btn btn-primary'>Check
            Anagram</button>
        <h5 class="result">{{result}}</h5>
    </form>
</div>