<div class="container-fluid">
    <h2>Temperature Checker</h2>
    <form [formGroup]='temperatureForm' class="temp-form">
        <div class="form-group">
            <label> Insert Temperature</label>
            <input [class.is-invalid]="temperatureForm.get('insert').invalid &&
            temperatureForm.get('insert').touched" formControlName='insert' type="number" class="form-control">
            <div *ngIf="temperatureForm.get('insert').invalid && temperatureForm.get('insert').touched">
                <small *ngIf="temperatureForm.get('insert').errors?.required" class='text-danger'>
                    Field is required
                </small>

                <small *ngIf="temperatureForm.get('insert').errors?.min" class='text-danger'>
                    Must be atleast 1
                </small>
                <small *ngIf="temperatureForm.get('insert').errors?.max" class='text-danger'>
                    Must enter max of 150
                </small>
            </div>
        </div>
        <div class=buttons-div>
            <button [disabled]="!temperatureForm.valid" (click)="insertValue()" type="button"
                class='btn btn-primary '>Insert
                Temperature</button>
            <div class="temp-buttons">
                <button type="reset" class='btn btn-outline-dark' (click)=' reset()'> Reset </button>
            </div>

        </div>

    </form>
    <pre>{{temperatureValues.length ? 'Values: '+ temperatureValues : ''  }}</pre>
    <pre>
            {{minTemp ? 'Min = '+ minTemp: '' }}
            {{maxTemp ? 'Max = '+ maxTemp: '' }}
            {{mean ? 'Mean = '+ mean.toFixed(2): '' }}
            {{mode && mode.length ? 'Mode = '+ mode: '' }}
        </pre>
</div>